/*****************************************/
/****************************CUPRINS CSS*/
/***********1. GENERAL****/
/***********2. FIRST NAVBAR*/
/***********3. SECOND NAVBAR*/
/***********4. INFO BOXES (format)*/
/***********5. NEWSPAPERS (format)*/
/***********6. OVERPAGE (format)*/
/***********7. FOOTER         **/
/***********8. IN-PAGE REDIRECT ANIMATION**/

/*****************************************/
/***********1. GENERAL****/
/*****************************************/
html,body{
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow-x: hidden;
    background: rgb(242,242,242);

    /*general colors*/
    --redcolor: #ec6b76;
    --bluecolor: #4a8bec;

    /*fonts*/
    --text-size: 1rem;
}
body *{
    position: relative;
}
a{
    color: white;
    text-decoration: none;
}

/*****************************************/
/***********2. FIRST NAVBAR****/
/*****************************************/
#stNavbar{
    height: 5vw;
    width: 100%;
    background: #1e2a84;
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;
    z-index: 5;
    transition: 300ms;
    -o-transition: 300ms;
    -moz-transition: 300ms;
    -webkit-transition: 300ms;
}

#stNavbar >*{
    margin-right: 2vw;
    margin-left: 3vw;
    border: 1px solid transparent;
}

.stNavbarBtn{
    padding: .5vw;
}
.stNavbarBtn a{
    transition: 500ms;
    font-size: 1vw;
}

.stNavbarBtn:hover a{
    color: #ef4135;
}

#activePage{
    border: 1px solid white;
    font-style: italic;
    border-radius: .3vw;
    pointer-events: none;
}

.stNavbarLogo{
    flex-grow: 1;
    height: 50%;
    text-align: center;
    background: url("../media/uvtlogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 500ms;
    cursor: pointer;
}

.stNavbarLogo:hover{
    transform: scale(.8);
}

.languages-container{
    align-self: flex-end;
    margin-bottom: 1vw;
    color: white;
}

button,
button:focus,
button:active{
    border:1px solid black;
    background:none;
    outline:none;
    padding:0;
}

.languages-container button{
    background: transparent;
    height: 1vw;
    width: 1.6vw;
    margin-right: 1vw;
    cursor: pointer;
    border: .2vw solid transparent;
    border-radius: 1vw;
}

.languages-container button:nth-of-type(1){
    background: url("../media/RO.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.languages-container button:nth-of-type(2){
    background: url("../media/EN.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.languages-container button:nth-of-type(3){
    background: url("../media/FR.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*****************************************/
/***********2. SECOND NAVBAR****/
/*****************************************/

#ndNavbar{
    height: 3.5vw;
    top:5vw;
    width: 100%;
    background: #182268;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;

    z-index: 3;

    transition: 300ms;
    -o-transition: 300ms;
    -moz-transition: 300ms;
    -webkit-transition: 300ms;
}

#ndNavbar a{
    font-size: 0.8vw;
    transition: 500ms;
    padding: 1vw;
    z-index: 5;
    cursor: pointer;
}

#ndNavbar a:hover {
    font-size: 1vw;
}

/*****************************************/
/***********4. INFO BOXES****/
/*****************************************/
.infoBox{
    margin: 10vw;
    margin-bottom: 1vw;
    padding-bottom: 2.5vw;
    border: 2px solid transparent;
}

.infoBox:nth-child(1){
    margin-top: 10vw;
}

.infoHeader{
    min-width: 40%;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vw;
    padding-bottom: 4vw;

    z-index: 1;

    position: absolute;
    font-size: calc(var(--text-size) + 1.5rem);
    font-weight: bold;

    border-radius: 1vw;
    background: var(--redcolor);
    color: white;
    text-align: center;
}

.infoText{
    width: 70%;
    z-index: 2;
    padding: 2vw;
    margin: auto;
    margin-top: 5vw;
    border-radius: 2vw;
    background: white;
    border: .2vw solid var(--redcolor);
    text-align: center;
    /*opacity: 0;*/

    font-size: calc(var(--text-size));
}

@keyframes come-from-left{
    0%{opacity: 0; transform: translateX(-30%);}
    100%{opacity: 1; transform: translateX(0);}
}

@keyframes come-from-right{
    0%{opacity: 0; transform: translateX(+30%);}
    100%{opacity: 1; transform: translateX(0);}
}


.infoText >a, .infoText >p{
    display: block;
    margin: .4vw;
    text-align: left;
    font-size: var(--text-size);
    padding: .3vw;
    border-radius: .5vw;

}
.infoText a{
    font-style: italic;
    transition: 500ms;
    color:#182268;
}

.infoText a:hover{
    color: #ef4135;
}

.infoText .btn{
    padding: .5vw;
    max-width: 40%;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: .5vw;

    cursor: pointer;

}
.infoText .btn:hover{
    color: black;
    background: #d4deff;
}
.right .infoHeader{
    right: 0;
    text-align: center;
    /*padding-right: 5vw;*/
}
.infoText .subtitle{
    font-size: calc(var(--text-size) + 0.2rem);
    width: max-content;
}


/*COLORS - LEFT*/
.left .infoHeader{
    background: var(--redcolor);
    color: white;
}
.left .infoText{
    background: white;
    border: .2vw solid var(--redcolor);
}
.left .infoText a, .left .infoText>p{
    color:#182268;
}
.left .infoText .btn{
    border: .2vw solid var(--bluecolor);
    color:#182268;
}
.left .infoText .btn:hover{
    color:black;
}

/*COLORS - RIGHT*/
.right .infoHeader{
    color: white;
    background: var(--bluecolor);
}
.right .infoText{
    background: white;
    border: .2vw solid var(--bluecolor);
}
.right .infoText a, .right .infoText>p{
    color:#182268;
}
.right .infoText .btn{
    border: .2vw solid var(--redcolor);
}
.right .infoText .btn:hover{
    color:black;
    background: #fdd4d9;
}

/*overall*/

.infoText a:hover{
    color: #ef4135;
}

.infoText >.spaced{
    margin-left: 2vw;
    color: red;
}


/*****************************************/
/***********5. NEWSPAPERS*/
/*****************************************/

.newspaper-container{
    min-height: 5vw;
    width: 80vw;

    margin-left: 10vw;

    display: flex;
    justify-content: space-around;

    margin-bottom: 10vw;
}

.newspaper{
    --spacing: 2.5vw;

    width: 30vw;

    border-radius: 2.5vw;
    border: .2vw solid transparent;

    background: white;

    padding-bottom: var(--spacing);
}

.newspaper .spaced{
    margin-left: calc(var(--spacing)*2);
}
.newspaper h2{
    text-align: center;
    font-size: calc(var(--text-size) + 0.5rem);
    margin-left: calc(80/100 * var(--spacing));
    margin-right: calc(80/100 * var(--spacing));
}
.newspaper hr{
    border: .1vw solid rgb(242,242,242);
    background: rgb(210,210,210);
    margin-left: calc(var(--spacing) * 2);
    margin-right: calc(var(--spacing) * 2);
}
.newspaper p:nth-child(1){
    margin-top: var(--spacing);
}
.newspaper p{
    font-size: calc(var(--text-size));
    margin-left: var(--spacing);
    margin-right: var(--spacing);
}

.newspaper img{
    width: 45%;

    margin-left: 50%;
    transform: translateX(-50%);

    border-radius: 1vw;
}

/*colors*/

/*red*/
.newspaper-container .red{
    border: .2vw solid var(--redcolor);
}

/*blue*/
.newspaper-container .blue{
    border: .2vw solid var(--bluecolor);
}


/*****************************************/
/***********6. OVERPAGE****/
/*****************************************/

.overpage{
    --bg-color: rgb(230,230,230);

    background: var(--bg-color);

    width: 100%;

    min-height: 10vw;
    margin-top: 30vw;
    padding-bottom: 10vw;

}

.overpage::before{
    content: "";

    position: absolute;
    height: 10vw;
    width: 100%;

    background: var(--bg-color);

    border-radius: 100% 0 0 0;

    transform: translateY(-100%);
}


.overpage h1,.overpage p{
    text-align: center;
}
.overpage h1{
    font-size: calc(var(--text-size) + 1rem);
}

.overpage p{
    font-size: calc(var(--text-size));
}

.hv{
    border: none;
    height: 1px;
    background: black;
    width: 4vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    transform: rotate(90deg);
}

.overpage iframe{
    height: 20vw;
    width: 40vw;

    border-radius: 2.5vw;

    margin-left: 50%;
    transform: translateX(-50%);
}


/*****************************************/
/***********7. FOOTER****/
/*****************************************/

footer{
    height: 15vw;
    width: 100%;
    background: #182268;
    color: white;
    display: grid;
    grid-template-columns: repeat(5,calc(100vw /5));
    grid-template-rows: 12vw 3vw;
}
footer >div, footer >p{
    text-align: center;
}
footer h3{
    display: block;
    font-size: 1vw;
}
footer div a,footer div p{
    color: white;
    display: block;
    transition: 500ms;
    margin: 0;
    font-size: .8vw;
}
footer div a:hover {
    color: #ef4135;
}
footer >p{
    grid-column: span 5;
    margin-left: 5vw;
    margin-right: 5vw;
    border-top: 2px solid #e4ac22;
    padding-top: .5vw;
    font-size: 1vw;
    cursor: default;
}
footer div:nth-of-type(3){
    padding-top: 1.5vw;
    transition: 500ms;
    cursor: pointer;
}
footer div:nth-of-type(3) img{
    width: 10vw;
}
footer div:nth-of-type(3):hover{
    transform: scale(.8);
}

/*****************************************/
/***********8. IN-PAGE REDIRECT ANIMATION****/
/*****************************************/

@keyframes land {
    0%{
        box-shadow: 0 0 0 0 black;
    }
    25%{
        box-shadow: 0 0 .7vw .3vw black;
    }
    50%{
        box-shadow: 0 0 .1vw .1vw black;
    }
    75%{
        box-shadow: 0 0 .7vw .3vw black;
    }
    100%{
        box-shadow: 0 0 0 0 black;
    }
}