/*****************************************/
/****************************CUPRINS CSS*/
/***********1. GENERAL****/
/***********2. FIRST NAVBAR*/
/***********3. SECOND NAVBAR*/
/***********4. INFO BOXES****/
/***********5. */
/***********6. */

/*****************************************/
/***********1. GENERAL****/
/*****************************************/
html,body{
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow-x: hidden;
}
body *{
    position: relative;
}
a{
    color: white;
    text-decoration: none;
}

/*****************************************/
/***********2. FIRST NAVBAR****/
/*****************************************/
#stNavbar{
    height: 5vw;
    width: 100%;
    background: #1e2a84;
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;
    z-index: 5;
    transition: 300ms;
}

.stNavbarDropdown{
    display: inline-block;
}

#stNavbar >*{
    margin-right: 2vw;
    margin-left: 3vw;
}

.onHover{
    opacity: 0;
    position: absolute;
    border-radius: 0 1vw 1vw 1vw;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    visibility: hidden;
}

.onHover a{
    display: block;
    padding: 1vw;
    -webkit-transition: all .300s ease;
    -moz-transition: all .300s ease;
    -o-transition: all .300s ease;
    transition: all .300s ease;
}

.active{
    padding: 1vw;
    -webkit-transition: all .300s ease;
    -moz-transition: all .300s ease;
    -o-transition: all .300s ease;
    transition: all .300s ease;
    border-radius: 1vw 1vw 1vw 0;
    cursor: pointer;
}

.onHover a:hover{
    color: #ef4135;
}

.stNavbarDropdown:hover .onHover{
    z-index: 5;
    opacity: 1;
    background: #182268;
    /*display: block;*/
    visibility: visible;
}

.stNavbarDropdown:hover .active{
    background: #182268;
}

.stNavbarBtn a{
    transition: 500ms;
}

.stNavbarBtn:hover a{
    color: #ef4135;
}

.stNavbarLogo{
    flex-grow: 1;
    height: 50%;
    text-align: center;
    background: url("../media/uvtlogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 500ms;
    cursor: pointer;
}

.stNavbarLogo:hover{
    transform: scale(.8);
}

.active, .stNavbarBtn a,.onHover a{
    font-size: 1vw;
}

.languages-container{
    align-self: flex-end;
    margin-bottom: 1vw;
    color: white;
}

button,
button:focus,
button:active{
    border:1px solid black;
    background:none;
    outline:none;
    padding:0;
}

.languages-container button{
    background: transparent;
    height: 1vw;
    width: 1.6vw;
    margin-right: 1vw;
    cursor: pointer;
    border: .2vw solid transparent;
    border-radius: 1vw;
}

.languages-container button:nth-of-type(1){
    background: url("../media/RO.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.languages-container button:nth-of-type(2){
    background: url("../media/EN.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.languages-container button:nth-of-type(3){
    background: url("../media/FR.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*****************************************/
/***********2. SECOND NAVBAR****/
/*****************************************/

#ndNavbar{
    height: 3.5vw;
    top:5vw;
    width: 100%;
    background: #182268;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    transition: 300ms;
    z-index: 3;
}

#ndNavbar a{
    font-size: 0.8vw;
    transition: 500ms;
    padding: 1vw;
    z-index: 5;
}

#ndNavbar a:hover {
    font-size: 1vw;
}



/*****************************************/
/***********4. INFO BOXES****/
/*****************************************/
.infoBox{
    margin-top: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border: 2px solid transparent;
    padding-bottom: 8vw;
    margin-bottom: 6vw;
}

.infoHeader{
    width: 40%;
    height: 8vw;
    z-index: 1;
    position: absolute;
    padding-top: 2vw;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 1vw;
    background: #ec6b76;
    color: white;
    text-align: center;
    /*opacity: 0;*/
}

.infoText{
    width: 70%;
    z-index: 2;
    padding: 2vw;
    margin: auto;
    margin-top: 5vw;
    border-radius: 2vw;
    background: white;
    border: .2vw solid #ec6b76;
    text-align: center;
    /*opacity: 0;*/
}

@keyframes left-header-fade{
    0%{opacity: 0; transform: translateX(-30%);}
    100%{opacity: 1; transform: translateX(0);}
}
@keyframes left-text-fade{
    0%{opacity: 0; transform: translateX(+30%);}
    100%{opacity: 1; transform: translateX(0);}
}
@keyframes right-header-fade{
    0%{opacity: 0; transform: translateX(+30%);}
    100%{opacity: 1; transform: translateX(0);}
}
@keyframes right-text-fade{
    0%{opacity: 0; transform: translateX(-30%);}
    100%{opacity: 1; transform: translateX(0);}
}

.infoText >a, .infoText >p{
    display: block;
    margin: .4vw;
    font-size: .85vw;
    text-align: left;

}
.infoText a{
    font-style: italic;
    transition: 500ms;
    color:#182268;
}

.infoText a:hover{
    color: #ef4135;
}

.infoText .btn{
    padding: .5vw;
    max-width: 40%;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: .5vw;

}
.infoText .btn:hover{
    color: black;
    background: #d4deff;
}
.right .infoHeader{
    right: 0;
    text-align: center;
    /*padding-right: 5vw;*/
}
.infoText .subtitle{
    font-size: 1.2vw;
}


/*COLORS - LEFT*/
.left .infoHeader{
    background: #ec6b76;
    color: white;
}
.left .infoText{
    background: white;
    border: .2vw solid #ec6b76;
}
.left .infoText a, .left .infoText>p{
    color:#182268;
}
.left .infoText .btn{
    border: .2vw solid #4a8bec;
    color:#182268;
}
.left .infoText .btn:hover{
    color:black;
}

/*COLORS - RIGHT*/
.right .infoHeader{
    color: white;
    background: #4a8bec;
}
.right .infoText{
    background: white;
    border: .2vw solid #4a8bec;
}
.right .infoText a, .right .infoText>p{
    color:#182268;
}
.right .infoText .btn{
    border: .2vw solid #ec6b76;
}
.right .infoText .btn:hover{
    color:black;
    background: #fdd4d9;
}


/*overall*/

.infoText a:hover{
    color: #ef4135;
}

.infoText >.spaced{
    margin-left: 2vw;
    color: red;
}